
@model CourseSectionViewModel


<section id="@Model.Id" class="course-section">
    <div class="container">

        <div class="main-nav">
            <a class="menu-link" asp-controller="Home" asp-action="Index"><img src="@Model.Nav.HouseIcon.ImageUrl" alt="@Model.Nav.HouseIcon.AltText"></a>
            <a class="menu-link" asp-controller="Home", asp-action="Index"><p>@Model.Nav.HomeLink.Text</p></a>
            <img src="@Model.Nav.Vector.ImageUrl" alt="@Model.Nav.HouseIcon.AltText">
            <a class="menu-link" asp-controller="Course", asp-action="Index"><p>@Model.Nav.CoursesLink.Text</p></a>
        </div>

        <div class="course-search">
            <h2>@Model.CourseSearch.Title</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-theme" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.CourseSearch.ButtonText.Text
                </button>
                <ul class="dropdown-menu">
                    @if (Model.CourseSearch != null)
                    {
                        @foreach (var item in Model.CourseSearch.Items)
                        {
                            <li><a class="dropdown-item" asp-controller="" asp-action="">@item.Text</a></li>
                        }
                    }
                </ul>
                <div class="input-container">
                    <input type="text" id="courses" name="courses" placeholder="@Model.CourseSearch.Placeholder">
                    <i id="search" class="fa-solid fa-search"></i>
                </div>
            </div>
        </div>
        <div class="course-card">
            
                @if (Model.CourseCard != null)
                {
                    @foreach (var card in Model.CourseCard)
                    {
                        <div class="card">
                            <img class="best-seller" src="@card.CardImg.ImageUrl" alt="@card.CardImg.AltText">
                            <a asp-controller="" asp-action=""><img src="@card.ImageIcon.ImageUrl" alt="@card.ImageIcon.AltText"></a>
                            <img class="circle-in-picture" src="@card.CircleIcon.ImageUrl" alt="@card.CircleIcon.AltText">
                            <div class="card-info">
                                <h4>@card.CardHeader</h4>
                                <p>@card.Author</p>
                            <div class="price-sale">
                                @if (!string.IsNullOrEmpty(card.PriceSale) && card.PriceSale.Trim() != "")
                                {
                                    <p class="course-price-sale">@card.PriceSale</p>
                                    <p class="course-price strikethrough">@card.PriceText</p>
                                }
                                else
                                {
                                    <p class="course-price">@card.PriceText</p>
                                }
                                
                            </div>                           
                                <div class="card-line"></div>
                                <div class="hours-and-ratings">
                                    <img src="@card.ClockIcon.ImageUrl" alt="@card.ClockIcon.AltText">
                                    <p>@card.HoursText</p>
                                    <img src="@card.ThumbIcon.ImageUrl" alt="@card.ThumbIcon.AltText ">
                                    <p>94 % (4.2k)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>


        <nav class="card-navigation">
            <ul class="navigation">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <img src="@Model.LeftArrow.ImageUrl" alt="@Model.LeftArrow.AltText">
                    </a>
                </li>
                @foreach (var links in Model.PageLinks)
                {
                    <li class="page-item"><a class="page-link" asp-controller="" asp-action="">@links.Text</a></li>
                }

                <li class="page-item">
                    <a class="page-link" href="#">
                        <img src="@Model.RightArrow.ImageUrl" alt="@Model.RightArrow.AltText">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>