
@model CourseIndexViewModel


<section id="course-section" class="course-section">
    <div class="container">

        <div class="main-nav">
            <a class="menu-link" asp-controller="Home" asp-action="Index"><img src="~/icons/home-icon.svg" alt="house icon"></a>
            <a class="menu-link" asp-controller="Home", asp-action="Index"><p> Home</p></a>
            <img src="~/icons/Vector.svg" alt="vector icon">
            <a class="menu-link" asp-controller="Course", asp-action="Index"><p> Course</p></a>
        </div>

        <form>
            <div class="course-search">
                <h1>Courses</h1>
                <div class="select">
                    <select name="select-options" id="course">
                        <option class="user-option" value="all" data-value="all" selected>All courses</option>
                        @if (Model.Categories != null)
                        {
                            @foreach (var category in Model.Categories)
                            {
                                <option class="user-option" value="volvo">@category.CategoryName</option>
                            }
                        }                                                 
                    </select>

                    <div class="input-container">
                        <input type="text" id="searchQuery" name="courses" placeholder="Search courses">
                        <i id="search" class="fa-solid fa-search"></i>
                    </div>
                </div>
            </div>
        </form>


            <div class="course-card" >
                @if (Model.Courses != null)
                {
                    @foreach (var card in Model.Courses)
                    {

                    <div class="card" onclick="location.href='@Url.Action("Details", "Course", new { id = card.Id})'">
                        @if (card.BestSeller)
                        {
                            <img class="best-seller" src="~/icons/best-seller.svg" alt="course image">
                        }

                        <a asp-controller="" asp-action="" asp-route-id="@card.Id"><img src="~/images/@card.ImageUrl" alt=""></a>
                        <button class="btn btn-circle btn-bookmark bookmark" onclick="saveCourse(@card.Id)"><i class="fa-regular fa-bookmark"></i></button>
                        <div class="card-info">                             
                            <h4>@card.Title</h4>
                            <p>@card.Author</p>
                            <div class="price-sale">
                                @if (!string.IsNullOrEmpty(card.DiscountPrice) && card.DiscountPrice.Trim() != "")
                                {
                                    <p class="course-price-sale">@card.DiscountPrice</p>
                                    <p class="course-price strikethrough">@card.Price</p>
                                }
                                else
                                {
                                    <p class="course-price" @(!string.IsNullOrEmpty(card.DiscountPrice) ? "discount-enabled" : "")>@card.Price</p>
                                }
                                
                            </div>                           
                            <div class="card-line"></div>
                            <div class="hours-and-ratings">
                                <img src="~/icons/clock.svg" alt="clock">
                                <p>@card.Hours</p>
                                <img src="~/icons/thumb-like.svg" alt="thumb up ">
                                <p>@card.LikesInProcent % (@card.LikesInNumbers)</p>
                            </div>
                        </div>
                        
                    </div>                      
                    }
                }
            </div>
        


        <nav class="card-navigation">
            <ul class="navigation">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <img src="~/icons/Property-arrow 1=left.svg" alt="left arrow">
                    </a>
                </li>

                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>

                <li class="page-item">
                    <a class="page-link" href="#">
                        <img src="~/icons/Property-arrow 1=right.svg" alt="RightArrow">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
