@model WorkWithUsViewModel 

<section id="@Model.Id" class="work-with-us">
    <div class="container">
        <div class="work-with-us-left-side">
            <p>@Model.Text</p>
            <h2>@Model.Header.Header1 <span>@Model.Header.SpanText</span> @Model.Header.Header2</h2>
            <a class="btn-theme" asp-controller="" asp-action="">@Model.Link.Text</a>
        </div>
        <div class="work-with-us-right-side">
            <img src="@Model.WorkImg.ImageUrl" alt="@Model.WorkImg.AltText">
        </div>
    </div>
</section>