@model DownloadAppViewModel

<section id="@Model.Id" class="download-app">
    <div class="container">
        <img src="@Model.MobileImg.ImageUrl" alt="@Model.MobileImg.AltText">
        <div class="download-app-content">
            <div class="download-app-heading">
                <h2>@Model.Title</h2>
            </div>

            @if (Model.AppDownload.Count >= 1)
            {
                @foreach (var box in Model.AppDownload)
                {
                    <div class="app-download">
                        <div class="left-side-download">

                            <p class="store-heading">@box.AppStore</p>
                            <div class="ratings">
                                @foreach (var rating in box.RatingImg)
                                {
                                    <img src="@rating.ImageUrl" alt="@rating.AltText">
                                }                            
                            </div>
                            <h5>@box.Subheading</h5>
                            <p>@box.Ratings</p>
                        </div>
                        <div class="right-side-download">
                            <a class="app-stores" asp-controller="@box.Link.ControllerName", asp-action="@box.Link.ActionName"><img class="download-icon" src="@box.LinkImages.ImageUrl" alt="@box.LinkImages.AltText"></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

