@using AspNetCore.Mvc.ViewModels.Home
@model IntegrateToolViewModel

<section id="@Model.Id" class="integrate-tool">
    <div class="container">
        <div class="integrate-tool-heading">
            <h2>@Model.Title</h2>
            <p>@Model.Text</p>
        </div>

        <div class="integrate-tools">
            @foreach (var toolBox in Model.ToolBox)
            {
                <div class="tool">
                    <img src="@toolBox.Image.ImageUrl" alt="@toolBox.Image.AltText">
                    <p>@toolBox.BoxText</p>
                </div>
            }
        </div>
    </div>
</section>