
@model SubscribeViewModel

<section id="@Model.Id" class="subscribe">
    <div class="container">
        <div class="subscribe-heading">
            <h2>@Model.Title</h2>
            <img src="@Model.HeadingImg.ImageUrl" alt="@Model.HeadingImg.AltText">
        </div>
        <div class="subscribe-newsletters">
            <form id="submitForm" asp-controller="@Model.Link.ControllerName" asp-action="@Model.Link.ActionName" method="post">
                <div class="subscribe-options">
                    <h5>@Model.Subheading</h5>
                    <div class="boxes">
                        @foreach (var label in Model.SignUpBox)
                        {
                            <div class="form-check newsletter">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @label.LabelText
                                </label>
                            </div>
                        }
                    </div>
                </div>               
                <div class="subscribe-field">
                    <input id="emailInput" type="text" placeholder="@Model.PlaceholderText" name="Email">
                    <button type="submit" class="btn-theme">@Model.Link.Text</button>
                </div>
                <div class="subscribe-terms-and-privacy">
                    <p>
                        @Model.TermsAndPrivacy.Text1
                        <a asp-controller="@Model.TermsAndPrivacy.Link1.ControllerName" asp-action="@Model.TermsAndPrivacy.Link1.ActionName">@Model.TermsAndPrivacy.Link1.Text</a>
                        @Model.TermsAndPrivacy.Text2
                        <a asp-controller="@Model.TermsAndPrivacy.Link2.ControllerName" asp-action="@Model.TermsAndPrivacy.Link2.ActionName">@Model.TermsAndPrivacy.Link2.Text</a>
                        @Model.TermsAndPrivacy.Text3
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>