@using AspNetCore.Mvc.ViewModels.Home
@model SwitchBlackAndWhiteViewModel

<section id="switch-black-white" class="switch-black-white">
    <div class="dark-theme"></div>
    <div class="light-theme"></div>
    <div class="container">
        <h2><span class="light">@Model.TitleLight</span><span class="dark">@Model.TitleDark</span></h2>
        <div class="switch-black-white-laptop">
            <img src="@Model.LaptopImg.ImageUrl" alt="@Model.LaptopImg.AltText">
            <img class="circle-in-laptop" src="@Model.CircleImg.ImageUrl" alt="@Model.CircleImg.AltText" />
        </div>
    </div>
</section> 