@using AspNetCore.Mvc.ViewModels.Home
@model TaskManagementViewModel


<section id="@Model.Id" class="task-management">
    <div class="container">
        <div class="task-management-content">
            <img src="@Model.Dashboard.ImageUrl" alt="@Model.Dashboard.AltText">

            <div class="task-management-work">
                <h3 class="manage-work-heading">@Model.Title</h3>
                <div class="task-management-status-badge">
                    @foreach (var tasks in Model.TaskBox)
                    {
                        <img src="@tasks.Image.ImageUrl" alt="@tasks.Image.AltText">
                        <p>@tasks.Text</p>
                    }
                </div>
                <a class="btn-theme" asp-controller="LearnMoreController" asp-action="Index">Learn more<i class="fa-solid fa-arrow-right"></i></a>
            </div>

           
        </div>
     </div> 
</section>
